[net]
git-fetch-with-cli = true

[target.armv7-unknown-linux-gnueabihf]
linker = "arm-linux-gnueabihf-gcc"

# Maybe there is a way to only run the integration tests, or remove this restriction...
[env]
RUST_TEST_THREADS = "1"
